## Deliverable 3. Create a Travel Itinerary Map.

In [118]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [119]:
# Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,San Policarpo,PH,80.10,overcast clouds,12.18,125.51,Zal-Ann Beach Resort
1,3,Jamestown,US,78.01,broken clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
2,8,Seoul,KR,78.80,few clouds,37.57,126.98,LOTTE HOTEL SEOUL
3,18,Butaritari,KI,82.35,overcast clouds,3.07,172.79,Isles Sunset Lodge
4,25,Vila Franca Do Campo,PT,75.20,few clouds,37.72,-25.43,Pestana Bahia Praia

In [120]:
# Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
all_locations = vacation_df[["Lat", "Lng"]]

In [121]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer =  gmaps.marker_layer(all_locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[vacation_df["City"] == "Kurayoshi"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Kurayoshi"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ozu"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Muroto"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Nara"]

In [131]:
# Get the latitutde-longitude pairs as tuples from each city DataFram using the to_numpy function and list indexing
start = (vacation_start.to_numpy()[0,5],vacation_start.to_numpy()[0,6])
end = (vacation_end.to_numpy()[0,5], vacation_end.to_numpy()[0,6])
stop1 = (vacation_stop1.to_numpy()[0,5], vacation_stop1.to_numpy()[0,6])
stop2 = (vacation_stop2.to_numpy()[0,5], vacation_stop2.to_numpy()[0,6])
stop3 = (vacation_stop3.to_numpy()[0,5], vacation_stop3.to_numpy()[0,6])

In [124]:
# Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(35.0, 130.0), zoom_level=5.0)
directions = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [125]:
# Create a marker layer map between the four cities.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,648,Kurayoshi,JP,77.00,few clouds,35.43,133.82,Misasa Royal Hotel
1,439,Ozu,JP,79.00,clear sky,33.50,132.55,HOTEL FOREST
2,170,Muroto,JP,82.18,clear sky,33.28,134.15,Oota Ryokan
3,426,Nara,JP,78.80,few clouds,34.69,135.80,Guesthouse Nara Komachi
4,648,Kurayoshi,JP,77.00,few clouds,35.43,133.82,Misasa Royal Hotel

In [126]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [127]:
# Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, 130.0), zoom_level=5.0)
markers =  gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))